@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.add-goal-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid $yellow;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 500px;
  width: 100%;

  .modal-content {
    text-align: center;

    h2 {
      color: $orange;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .new-goal-form {
      input {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: $font-light; // Apply text color
        &:focus {
          outline: none;
          border-color: $orange; // Updated focus color
        }
      }

      // Custom Dropdown styling
      .custom-dropdown-container {
        position: relative;
        margin-bottom: 1rem;

        .custom-dropdown {
          background-color: white;
          color: $font-light;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          cursor: pointer;
          &:focus {
            outline: none;
            border-color: $orange;
          }
        }

        .placeholder {
          color: $font-light; // Placeholder text color
        }

        .custom-dropdown-menu {
          position: absolute;
          top: 120%;
          left: 0;
          width: 100%;
          background-color: white;
          border: 2px solid $orange;
          border-radius: 5px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          z-index: 1000;

          .custom-dropdown-item {
            padding: 10px;
            font-size: 1rem;
            color: $font-light;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: lighten($orange, 20%);
              color: white;
            }
          }
        }
      }

      .modal-buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .save-button,
        .cancel-button {
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          font-size: 1rem;
        }

        .save-button {
          background-color: $orange;
          color: white;

          &:hover {
            background-color: darken($orange, 10%);
          }
        }

        .cancel-button {
          background-color: $background-light;
          color: white;

          &:hover {
            background-color: darken($background-light, 10%);
          }
        }
      }
    }
  }
}

.add-goal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}







