@use "../../styles/partials/colors" as *;

.delete-goal-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  background-color: white;
  padding: 25px;
  border: 2px solid $yellow;  
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1001;

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $font-light; 
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__confirm-button,
  &__cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
  }

  &__confirm-button {
    background-color: $orange; 
    color: white;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }

  &__cancel-button {
    background-color: $background-light;
    color: white;

    &:hover {
      background-color: darken($background-light, 10%);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 999;
  }
}
