@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.progress-page {
  background-color: white;
  text-align: center;
  max-width: 100%;

  &__hero {
    background-color: $yellow;
    padding: 3rem 0;
    width: 100%;
    
    &-content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;

      @include tablet {
        padding: 0 2rem;
      }

      &__title {
        font-size: 2rem;
        color: $orange;
        margin-bottom: 1rem;
        @include desktop {
          font-size: 3rem;
        }
      }

      &__description {
        font-size: 1rem;
        color: white;
        margin-bottom: 0.5rem;
        @include desktop {
          font-size: 1.5rem;
        }
      }

      &__motivation {
        font-size: 1.2rem;
        color: white;
        margin-top: 1.5rem;
        @include desktop {
          font-size: 1.75rem;
        }
      }
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    color: $orange;
    margin-top: 4rem;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.5rem;
    }
    @include desktop {
      margin-bottom: 3rem;
    }
  }

  &__graphs {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    canvas {
      width: 100%;
      height: 300px; 
    }

    @include tablet {
      canvas {
        height: 500px;
      }
    }

    @include desktop {
      canvas {
        height: 600px;
      }
    }
  }

  .react-calendar {
    width: 100%;
    margin-bottom: 3rem;
    border: none;
    color: $font;
    padding: 1rem;

    @include tablet {
      width: 80%; 
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    @include desktop {
      margin: 0 auto;
      margin-bottom: 2.5rem;
    }

    .react-calendar__month-view__days__day {
      color: $font; 
    }

    .react-calendar__month-view__days__day--weekend {
      background-color: white; 
      color: $orange; 
    }

    .session-day {
      background-color: $yellow; 
      color: $font; 
      border-radius: 50%;
    }

    .react-calendar__tile {
      border-radius: 10px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: $yellow;
        color: $font;
        transform: scale(1.05);
      }
    }

    .react-calendar__tile--now {
      background-color: $orange; 
      color: white;
    }

    .react-calendar__tile--active {
      background-color: $font-light; 
      color: white;
    }
  }

  &__session-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;

    @include tablet {
      gap: 1.5rem;
    }

    @include desktop {
      gap: 2rem;
    }

    &__session-item {
      background-color: white;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.1);
      max-width: 100%;
      width: 280px;
      text-align: left;

      @include tablet {
        width: 300px;
      }

      @include desktop {
        width: 350px;
      }

      &__session-date {
        font-size: 1rem;
        color: $orange;
        margin-bottom: 0.75rem;
        margin-top: 0;

        @include tablet {
          font-size: 1.5rem;
        }

        @include desktop {
          font-size: 1.75rem;
        }
      }

      &__session-toggle {
        background-color: $yellow; 
        border: none;
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($yellow, 10%);
        }

        @include tablet {
          font-size: 1.4rem;
          padding: 0.7rem 1.5rem;
        }

        @include desktop {
          font-size: 1.6rem;
          padding: 0.8rem 2rem;
        }
      }
    }
  }

  &__session-details {
    margin-top: 1rem;
    padding: 1rem;
    background-color: $background-light;
    border-radius: 10px;

    @include tablet {
      padding: 1.5rem;
    }

    @include desktop {
      padding: 2rem;
    }

    &__exercise-details {
      margin-bottom: 1rem;
      padding: 0.75rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.1);

      @include tablet {
        padding: 1rem;
      }

      @include desktop {
        padding: 1.5rem;
      }

      &__exercise-row {
        font-size: 0.8rem;
        margin: 0.5rem 0;
        color: $font;

        @include tablet {
          font-size: 1rem;
        }

        @include desktop {
          font-size: 1.125rem;
        }
      }
    }
  }

  &__no-sessions {
    font-size: 1rem;
    color: $font-light;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.2rem;
    }

    @include desktop {
      font-size: 1.4rem;
    }
  }

  &__toast {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: $orange;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    animation: fadeIn 0.5s ease-in-out;
    border: 2px solid $orange;

    &-message {
      margin: 1rem 0;
      font-size: 1.2rem;
    }

    &-close {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: transparent;
      border: none;
      color: $orange;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }
}
