@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.goals-page {
  text-align: center;
  margin: 2rem;
  background-color: white;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $font;
  }

  .goals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .goal-card {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border: 2px solid $font-light;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
    border-radius: 20% 6px 20% 6px;
    padding: 25px 25px 30px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;

    &.editing {
      background-color: lighten($yellow, 10%);
      padding: 40px;
    }

    .goal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .goal-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: $background-light;
      }

      .goal-actions {
        display: flex;
        gap: 0.5rem;

        button {
          background: none;
          border: none;
          cursor: pointer;

          i {
            font-size: 1.6rem;
            color: $background-light; 
            transition: color 0.3s ease;
          }
        }
      }
    }

    .goal-progress {
      margin: 1rem 0;

      .CircularProgressbar-text {
        fill: white;
      }
    }

    .goal-footer {
      .goal-deadline {
        font-size: 0.9rem;
        color: $background-light;
      }
    }

    .edit-form {
      input,
      select {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 10px;
        border: 1px solid $font-light;
        border-radius: 8px;
        font-size: 1rem;
        color: $font;
      }

      .save-button,
      .cancel-button {
        padding: 10px 20px;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
      }

      .save-button {
        background-color: $background-light;

        &:hover {
          background-color: darken($background-light, 10%);
        }
      }

      .cancel-button {
        background-color: $orange;

        &:hover {
          background-color: darken($orange, 10%);
        }
      }
    }
  }

  .add-goal-button {
    display: inline-block;
    background-color: $background-light;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($background-light, 10%);
    }
  }

  @include tablet {
    .goal-card {
      max-width: 300px;
    }
  }

  @include desktop {
    .goal-card {
      max-width: 350px;
    }
  }

  .full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f9fa; 
    color: $orange; 
    padding: 25px;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 1000;

    .modal-content {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $orange;
      }

      .new-goal-form {
        input,
        select {
          display: block;
          width: 100%;
          margin-bottom: 1rem;
          padding: 10px;
          font-size: 1rem;
          border: 1px solid #ddd;
          border-radius: 5px;
        }

        .modal-buttons {
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          .save-button {
            background-color: $orange;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }

          .cancel-button {
            background-color: $orange;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); // Darken overlay
    z-index: 999;
  }
}