@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.goals-page {
  text-align: center;
  margin: 2rem;
  background-color: white;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $font;
  }

  .goals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .goal-card {
    width: 100%;
    max-width: 400px;
    background-color: $yellow; 
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
    border-radius: 20% 6px 20% 6px;
    padding: 25px 25px 30px;
    color: white; 
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;

    .goal-link {
      text-decoration: none;
      color: inherit;
    }

    .goal-header {
      margin-bottom: 1rem;

      .goal-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: white; 
      }
    }

    .goal-progress {
      margin: 1rem 0;

      .CircularProgressbar-text {
        fill: white; 
      }
    }

    .goal-footer {
      .goal-deadline {
        font-size: 0.9rem;
        color: white; 
      }
    }
  }

  .add-goal-button {
    display: inline-block;
    background-color: $background-light;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($background-light, 10%);
    }
  }

  @include tablet {
    .goal-card {
      max-width: 300px;
    }
  }

  @include desktop {
    .goal-card {
      max-width: 350px;
    }
  }
}
