@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.header {
  background-color: $font-light;

  &__nav {
    display: none;
    
    @include tablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
    }
  }

  &__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;

    @include tablet {
      padding: 0.5rem 1rem;
    }

    &:hover {
      background-color: $yellow;
    }

    &--active {
      background-color: $orange; 
    }
  }
}
