@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.top-nav {
    display: none;
  }
  
  @media (min-width: 768px) {
    .top-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background-color: $font-light;
    }
  
    .nav-item {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }
  
    .nav-item.active {
      border-bottom: 2px solid white; 
    }
  }
  