.exercises-page {
    padding: 20px;
    text-align: center;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    .exercises-form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .exercises-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
        width: 100%;
      }
  
      .exercise-item {
        background: #f9f9f9;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
        flex: 0 1 200px; /* Allow items to grow/shrink based on space */
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        label {
          font-size: 1rem;
          color: #333;
  
          .exercise-details {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 8px;
          }
  
          span {
            font-size: 1rem;
          }
        }
  
        .add-button {
          background-color: #4caf50;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
  
      .submit-exercises-button {
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }