.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #232940;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.icon {
  font-size: 24px; 
}

.nav-item.active {
  color: #61dafb; 
}

@media (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}
